<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="KING Plus" android:icon="@drawable/king_logo" android:usesCleartextTraffic="false">
        <activity android:name=".VoiceWebActivity" android:exported="false" />
        <activity android:name=".PartyActivity" android:exported="false" />
        <activity android:name=".SocialActivity" android:exported="false" />
        <activity android:name=".EconomyActivity" android:exported="false" />
        <activity android:name=".InboxActivity" android:exported="false" />
        <activity android:name=".ChatActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
